body {
    background: #121212;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.dark-resume {
    background: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    max-width: 850px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(255,255,255,0.1);
}

.profile-pic{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    
}

h1, h2, h3 {
    color: #90caf9;
}

.download-btn {
    background: #90caf9;
    color: black;
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    text-align: center;
}
